.navbar {
    display: flex;
    background-color: bisque;
    background-color: blue;
}

.navbar-item {
    list-style: none;
    margin: 20px;
    padding: 10px;
}

.item-list {
    display: flex;
}

.item {
    background-color: blanchedalmond;
    border: 2px solid black;
}